<div class="collection collection1">
  <div class="container">
    <div class="row">
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
      <div class="col-md-4">
        <div class="collection1__collection-item">
          <div class="collection1__product-img">
            <div class="collection1__heart"><i class="far fa-heart"></i></div>
            {%- if product.images[0] != blank -%}
            <img srcset="{%- if product.images[0].width >= 165 -%}{{ product.images[0] | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if product.images[0].width >= 360 -%}{{ product.images[0] | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if product.images[0].width >= 535 -%}{{ product.images[0] | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if product.images[0].width >= 750 -%}{{ product.images[0] | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if product.images[0].width >= 1070 -%}{{ product.images[0] | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if product.images[0].width >= 1500 -%}{{ product.images[0] | image_url: width: 1500 }} 1500w,{%- endif -%}
            {%- if product.images[0].width >= 2000 -%}{{ product.images[0] | image_url: width: 2000 }} 2000w,{%- endif -%}
            {{ product.images[0] | image_url }} {{ product.images[0].width }}w"
              src="{{ product.images[0] | image_url: width: 1500 }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ product.images[0].alt | escape }}" loading="lazy" width="{{ product.images[0].width }}"
              height="{{ product.images[0].height }}" class="hero1__bg">
            {%- else -%}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
          <div class="collection1__product-info">
            <div class="collection1__product-details"><span class="collection1__product-title">{{ product.title }}</span><span
                class="collection1__product-price">{{ product.price }}</span></div>
            <div class="collection1__colors">
              <div class="collection1__color collection1__color--blue"></div>
              <div class="collection1__color collection1__color--black"></div>
            </div>
          </div>
        </div>
      </div>
      {% endfor%}
    </div>
  </div>
</div>

<div class="hero hero1 hero1--aligned-{{ section.settings.info_alignment }}
hero1--{{ section.settings.hero_height }}">
  
<div class="hero1__content-container" style="background: {{ section.settings.background }}">
  <div class="hero1__info">
    {%- for block in section.blocks -%}
      {% case block.type %}
        {%- when 'heading' -%}
          <h1 class="hero1__title hero1__title--{{- block.settings.title__size -}}">
            {{ block.settings.title | escape }}
          </h1>
        {%- when 'paragraph' -%}
          <p class="hero1__paragraph">I
            {{ block.settings.paragraph }}
          </p>
        {%- when 'button' -%}
          {%- if block.settings.button_label != blank -%}
            <a {% if block.settings.button_link == blank %} role="link" aria-disabled="true" 
              {% else %}
                href="{{ block.settings.button_link }}" 
            {% endif %}
            class="hero1__button"
            {{ block.shopify_attributes }} >
              {{ block.settings.button_label | escape }}
            </a>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Collection Group single",
    "class": "spaced-section spaced-section--full-width",
    "settings": [
    {
      "type": "select",
      "id": "hero_height",
      "options": [
        {
          "value": "25vh",
          "label": "25%"
        },
        {
          "value": "50vh",
          "label": "50%"
        },
        {
          "value": "75vh",
          "label": "75%"
        },
        {
          "value": "100vh",
          "label": "100%"
        }
      ],
      "default": "100vh",
      "label": "Height"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Featured Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "select",
      "id": "info_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right",
      "label": "Info Alignment"
    },
    {
      "type": "color_background",
      "id": "background",
      "label": "Background Color",
      "default": "linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) 100%)"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "select",
          "id": "title__size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Middle"
            },
            {
              "value": "lg",
              "label": "Large"
            },
            {
              "value": "xl",
              "label": "Extra Large"
            }
          ],
          "default": "md",
          "label": "Font Size"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "I'm baby kogi cardigan kitsch hammock banjo. Typewriter viral man braid hot chicken, farm-to-table fashion axe intelligentsia lomo green juice ramps irony succulents."
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "View More",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Group single",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}