<div class="hero hero2">
  <div class="hero2__collection1">
    {%- if section.settings.image1 != blank -%}
      <img srcset="{%- if section.settings.image1.width >= 165 -%}{{ section.settings.image1 | image_url: width: 165 }} 165w,{%- endif -%}
        {%- if section.settings.image1.width >= 360 -%}{{ section.settings.image1 | image_url: width: 360 }} 360w,{%- endif -%}
        {%- if section.settings.image1.width >= 535 -%}{{ section.settings.image1 | image_url: width: 535 }} 535w,{%- endif -%}
        {%- if section.settings.image1.width >= 750 -%}{{ section.settings.image1 | image_url: width: 750 }} 750w,{%- endif -%}
        {%- if section.settings.image1.width >= 1070 -%}{{ section.settings.image1 | image_url: width: 1070 }} 1070w,{%- endif -%}
        {%- if section.settings.image1.width >= 1500 -%}{{ section.settings.image1 | image_url: width: 1500 }} 1500w,{%- endif -%}
        {%- if section.settings.image1.width >= 2000 -%}{{ section.settings.image1 | image_url: width: 2000 }} 2000w,{%- endif -%}
        {{ section.settings.image1 | image_url }} {{ section.settings.image1.width }}w"
        src="{{ section.settings.image1 | image_url: width: 1500 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ section.settings.image1.alt | escape }}" loading="lazy" width="{{ section.settings.image1.width }}"
        height="{{ section.settings.image1.height }}" class=hero2__bg">
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
    <div class=hero2__content-container" style="background: {{ section.settings.background1 }}">
      <div class=hero2__info">
        {%- if section.settings.button_label != blank -%}
          <a {% if section.settings.button_link == blank %} role="link" aria-disabled="true" 
            {% else %}
              href="{{ section.settings.button_link }}" 
          {% endif %}
          class=hero2__button"
          {{ section.shopify_attributes }} >
            {{ section.settings.button_label | escape }}
          </a>
        {%- endif -%}
      </div>
    </div>
  </div>

  <div class="hero2__collection2">
    {%- if section.settings.image2 != blank -%}
      <img srcset="{%- if section.settings.image2.width >= 165 -%}{{ section.settings.image2 | image_url: width: 165 }} 165w,{%- endif -%}
        {%- if section.settings.image2.width >= 360 -%}{{ section.settings.image2 | image_url: width: 360 }} 360w,{%- endif -%}
        {%- if section.settings.image2.width >= 535 -%}{{ section.settings.image2 | image_url: width: 535 }} 535w,{%- endif -%}
        {%- if section.settings.image2.width >= 750 -%}{{ section.settings.image2 | image_url: width: 750 }} 750w,{%- endif -%}
        {%- if section.settings.image2.width >= 1070 -%}{{ section.settings.image2 | image_url: width: 1070 }} 1070w,{%- endif -%}
        {%- if section.settings.image2.width >= 1500 -%}{{ section.settings.image2 | image_url: width: 1500 }} 1500w,{%- endif -%}
        {%- if section.settings.image2.width >= 2000 -%}{{ section.settings.image2 | image_url: width: 2000 }} 2000w,{%- endif -%}
        {{ section.settings.image2 | image_url }} {{ section.settings.image2.width }}w"
        src="{{ section.settings.image2 | image_url: width: 1500 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ section.settings.image2.alt | escape }}" loading="lazy" width="{{ section.settings.imag2.width }}"
        height="{{ section.settings.image2.height }}" class=hero2__bg">
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
    <div class=hero2__content-container" style="background: {{ section.settings.background2 }}">
      <div class=hero2__info">
        {%- if section.settings.button_label != blank -%}
          <a {% if section.settings.button_link == blank %} role="link" aria-disabled="true" 
            {% else %}
              href="{{ section.settings.button_link2 }}" 
          {% endif %}
          class=hero2__button"
          {{ section.shopify_attributes }} >
            {{ section.settings.button_label | escape }}
          </a>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero two",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Left Image"
    },
    {
      "type": "color_background",
      "id": "background1",
      "label": "Left Background Color",
      "default": "linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) 100%)"
    },
    {
      "type": "url",
      "id": "button_link1",
      "label": "Button link"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Right Image"
    },
    {
      "type": "color_background",
      "id": "background2",
      "label": "Right Background Color",
      "default": "linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) 100%)"
    },
    {
      "type": "url",
      "id": "button_link2",
      "label": "Button link"
    }
    
  ],
  "presets": [
    {
      "name": "Hero two"
    }
  ]
}
{% endschema %}