<div class="hero hero2 hero2--aligned-{{ section.settings.info_alignment }}">
  <div class="hero2__collection1">
    {%- if section.settings.image != blank -%}
      <img srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
        {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
        {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
        {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
        {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
        {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
        {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
        {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
        src="{{ section.settings.image | image_url: width: 1500 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ section.settings.image.alt | escape }}" loading="lazy" width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.height }}" class=hero2__bg">
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
    <div class=hero2__content-container" style="background: {{ section.settings.background }}">
      <div class=hero2__info">
        {%- for section in section.settings -%}
          {% case section.type %}
            {%- when 'button' -%}
              {%- if section.settings.button_label != blank -%}
                <a {% if section.settings.button_link == blank %} role="link" aria-disabled="true" 
                  {% else %}
                    href="{{ section.settings.button_link }}" 
                {% endif %}
                class=hero2__button"
                {{ section.shopify_attributes }} >
                  {{ section.settings.button_label | escape }}
                </a>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>

  <div class="hero2__collection2">
    {%- if section.settings.image != blank -%}
      <img srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
        {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
        {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
        {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
        {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
        {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
        {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
        {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
        src="{{ section.settings.image | image_url: width: 1500 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ section.settings.image.alt | escape }}" loading="lazy" width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.height }}" class=hero2__bg">
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
    <div class=hero2__content-container" style="background: {{ section.settings.background }}">
      <div class=hero2__info">
        {%- for section in section.settings -%}
          {% case section.type %}
            {%- when 'button' -%}
              {%- if section.settings.button_label != blank -%}
                <a {% if section.settings.button_link == blank %} role="link" aria-disabled="true" 
                  {% else %}
                    href="{{ section.settings.button_link }}" 
                {% endif %}
                class=hero2__button"
                {{ section.shopify_attributes }} >
                  {{ section.settings.button_label | escape }}
                </a>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero two",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "color_background",
      "id": "background",
      "label": "Background Color",
      "default": "linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) 100%)"
    }
  ],
  "presets": [
    {
      "name": "Hero two"
    }
  ]
}
{% endschema %}