{{ 'jumbo-video.css' | asset_url | stylesheet_tag }}

<section class="jumbo-video jumbo-video--{{ section.settings.jumbo-video_height }}">
    {% if section.settings.video_type == 'vimeo' %}
      <iframe allowfullscreen="" class="bg-video" frameborder="0" mozallowfullscreen="" style="background: black;"
      webkitallowfullscreen=""
      src="//player.vimeo.com/video/{{section.settings.video_id}}?title=0&amp;portrait=0&amp;byline=0&amp;autoplay=1&loop=1&mute=1"></iframe>
      {{section.settings.video_id}}
    {% else %}
      <iframe class="bg-video" style="background: black;" src="https://www.youtube.com/embed/{{section.settings.video_id}}?autoplay=1&loop=1&mute=1" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}
  <div class="transparent-color"></div>
  <div class="titles">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'text' -%}
        <h1 style=" color: {{ block.settings.jumbo_h1-color }}">{{block.settings.jumbo_h1}}</h1>
      {%- when 'sub-text' -%}
        <h2 style=" color: {{ block.settings.jumbo_h2-color }}">{{block.settings.jumbo_h2}}</h2>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</section>


{% schema %}
{
  "name": "jumbo Video",
  "settings": [
  {
    "type": "select",
    "id": "jumbo-video_height",
    "options": [
      {
        "value": "50vh",
        "label": "50%"
      },
      {
        "value": "75vh",
        "label": "75%"
      },
      {
        "value": "100vh",
        "label": "100%"
      }
    ],
    "default": "100vh",
    "label": "Height"
  },
    {
      "type": "radio",
      "id": "video_type",
      "label": "Video Type",
      "options": [
        {
          "value": "youtube",
          "label": "Youtube"
        },
        {
          "value": "vimeo",
          "label": "Vimeo"
        }
      ],
      "default": "vimeo",
      "info": "Choose location where you uploaded video"
    },
    {
      "type": "text",
      "id": "video_id",
      "label": "Video id",
      "default": "353546049"
    },
    {
      "id": "show_background",
      "type": "checkbox",
      "label": {
        "da": "Vis baggrund",
        "de": "Hintergrund anzeigen",
        "en": "Show background",
        "es": "Mostrar fondo",
        "fi": "Näytä tausta",
        "fr": "Afficher l'arrière-plan",
        "hi": "पृष्ठभूमि दिखाएं",
        "it": "Mostra sfondo",
        "ja": "背景を表示する",
        "ko": "배경 표시",
        "nb": "Vis bakgrunn",
        "nl": "Toon achtergrond",
        "pt-BR": "Exibir plano de fundo",
        "pt-PT": "Mostrar fundo",
        "sv": "Visa bakgrund",
        "th": "แสดงพื้นหลัง",
        "zh-CN": "显示背景",
        "zh-TW": "顯示背景"
      },
      "default": true
    }
  ],
  "blocks": [
  {
    "type": "text",
    "name": "Text",
    "limit": 1,
    "settings": [
        {
          "type": "text",
          "id": "jumbo_h1",
          "label": "Jumbo Title",
          "default": "OFF WHITE"
        },
        {
          "type": "color",
          "id": "jumbo_h1-color",
          "label": "Percent Number Color",
          "default": "#ffffff"
        }
      ]
    },
    {
      "type": "sub-text",
      "name": "Sub Text",
      "limit": 1,
        "settings": [
        {
          "type": "text",
          "id": "jumbo_h2",
          "label": "Jumbo Sub-Title",
          "default": "New Collection"
        },
        {
          "type": "color",
          "id": "jumbo_h2-color",
          "label": "Percent Number Color",
          "default": "#ffffff"
        }
      ]
    }   
  ],
  "presets": [
    {
      "name": "Jumbo",
      "category": "Video",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "sub-text"
        }
      ]
    }
  ]
}
{% endschema %}