<!-- dev -->
<script src="{{ 'vue.js' | asset_url }}"></script>
<!-- Production -->
<!-- <script src="{{ 'vue.min.js' | asset_url }}"></script> -->

<style>
  .product-highlight {
    background: #000000;
    padding: 100px 0;
  }

  .product-highlight__img {
    width: 100%;
    height: auto;
  }

  .product-highlight__info-container h2 {
    font-size: 2rem;
    color: #ffffff;
  }

  .product-highlight__paragraph {
    font-size: 1.2rem;
    line-height: 1.4;
    color: #ffffff;
  }

  .product-highlight__button {
    background: #ffffff;
    border: none;
    padding: 15px 40px;
  }
</style>


<div class="product-highlight">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {%- if section.settings.image != blank -%}
        <img srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
          {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
          {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
          src="{{ section.settings.image | image_url: width: 1500 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
          alt="{{ section.settings.image.alt | escape }}" loading="lazy" width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}" class="product-highlight__img">
        {%- else -%}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
      <div class="col-md-4">
        <div class="product-highlight__info-container">
          {%- for block in section.blocks -%}
          {% case block.type %}
          {%- when 'heading' -%}
          <h2 class="product-highlight__title product-highlight__title--{{- block.settings.title__size -}}">
            {{ block.settings.title | escape }}
          </h2>
          {%- when 'paragraph' -%}
          <p class="product-highlight__paragraph">
            {{ block.settings.paragraph }}
          </p>
          {%- when 'button' -%}
          {%- if block.settings.button_label != blank -%}
          <button @click="addToCart" class="product-highlight__button">
            {% assign button_title = block.settings.button_label | escape %}
            ${ button_title } 
          </button>
          </a>
          {%- endif -%}
          {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const productHighlight = vue.createApp({
    delimiters: ['${','}'],
    methods: {
      addToCart() {
        console.log('Clicked')
      }
    },
    data() {
      return {
        button_title: '{{ button_title }}'
      }
    }
  }).mount('.product-highlight')
</script>


{% schema %}
{
  "name": "product-highlight",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
  {
    "type": "select",
    "id": "hero_height",
    "options": [
      {
        "value": "25vh",
        "label": "25%"
      },
      {
        "value": "50vh",
        "label": "50%"
      },
      {
        "value": "75vh",
        "label": "75%"
      },
      {
        "value": "100vh",
        "label": "100%"
      }
    ],
    "default": "100vh",
    "label": "Height"
  },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "select",
      "id": "info_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "right",
      "label": "Info Alignment"
    },
    {
      "type": "color_background",
      "id": "background",
      "label": "Background Color",
      "default": "linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) 100%)"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Title"
        },
        {
          "type": "select",
          "id": "title__size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Middle"
            },
            {
              "value": "lg",
              "label": "Large"
            },
            {
              "value": "xl",
              "label": "Extra Large"
            }
          ],
          "default": "md",
          "label": "Font Size"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "I'm baby kogi cardigan kitsch hammock banjo. Typewriter viral man braid hot chicken, farm-to-table fashion axe intelligentsia lomo green juice ramps irony succulents."
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "View More",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "product-highlight",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}